@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font: "JetBrains Mono", monospace;
  text-align: center;
}

:root {
  --primary: #8a8783;
  --secondary: #b4b1ab;
  --tertiary: #d4d0c9;
  --accent: #238845;
  --white: #ffffff;
  --black: #000000;
}
